@import url(http://fonts.googleapis.com/css?family=Press+Start+2P|Bubbler+One);

body {
    background: #065150;
    background-image:url('../images/Uburn.png');
    background-size: cover;
    font-family: 'Bubbler One', sans-serif;
    color: #333;
}

.hello-box h1{
    
    text-align:center;
    font-size:+5em;
    text-shadow: 0.1em 0.1em #333;
    font-family: 'Press Start 2P', cursive;
    color: #bbb;
}

.hello-box{
     /*padding: 5%;*/
}
.rants{
    padding:1%;
}